body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
#container{
    display: grid;
    gap: 0px; 
    justify-content: center;
    align-items: center;
}
.cell{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
}
#title{      
    text-align: center;
    font-weight: 900;
    font-size: 65px;
}
.button{
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 55px; 
    margin: 5px;
}